/* EN TODAS LAS PAGINAS*/
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;500&family=Raleway:wght@200;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

body{
    color: rgb(48, 48, 48);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background: whitesmoke;
}

a{
    text-decoration: none;
    cursor: pointer;
}

img[alt="Logo-Garabato"]{
    width: 80px;
    height: 80px;
}

/* COMIENZO HEADER */
header{
    width: 1200px;
    height: 104px;
    background-color: #93C198;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

header a{
    font-weight: normal;
    color: black;
    display: flex;
    align-items: center;
}


header a img{
    vertical-align: middle;
    margin: 0px 16px;
}

header a span{
    width: 200px;
}

header nav a{
    padding: 8px;
    display: inline;

    margin-right: 16px;

}

/* COMIENZO MAIN */
main{
    width: 1200px;
    margin: auto;
    min-height: 550px;
}

/* COMIENZO SLIDER */

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container img {
    max-width: 100%; 
    height: auto; 
}

/* COMIENZO QUIENES SOMOS */
#quienes-somos{
    width: 1200px;
    height: 435px;
    background-color: #93C198;
    padding-top: 100px;

}
#quienes-somos h2{
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}

#quienes-somos p{
    font-size: 25px;
    text-align: center;
    padding: 30px;
}

/* COMIENZO DONÁ AHORA */

#dona-ahora
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}

#dona-ahora a{
    font-size: 40px;
    font-weight: 600;
    width: 449px;
    height: 120px;
    background-color: #5D7E60;
    text-align: center;
    line-height: 3;
    border-radius: 10px;
}

/* COMIENZO INFO MONTE NATIVO */

#info-monte-nativo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    
}

#info-monte-nativo article{
    width: 350px;
    height: 612px;
    background-color: #93C198;
    border-radius: 10px;
    text-align: center;
    padding: 100px 20px;
}

#info-monte-nativo p{
    font-size: 45px;
    font-weight: 600;
}

#info-monte-nativo img{
    padding-top: 50px;
}

/* COMIENZO SUMATE, ASOCIATE, CALCULA TU HUELLA DE CARBONO */

#sumate-asociate-calcula{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

#sumate-asociate-calcula a{

    font-size: 30px;
    font-weight: 600;
    width: 449px;
    height: 100px;
    background-color: #5D7E60;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 0 50px;
}

#sumate-asociate-calcula a:nth-child(2){
    padding-top: 30px;
}

/*COMIENZO FOOTER*/
footer{
    width: 1200px;
    height: 150px;
    background-color: #5D7E60;
    margin: auto;
    padding: 0px 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
}

footer a img{
    vertical-align: middle;
    margin-right: 8px;
}

footer a span{
    width: 200px;
}

footer nav a{
    margin: 8px;
    display: inline;
}